name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Log in to docker hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.enessermaxhaj1992}}
        password: ${{ secrets.DOCKER_USERNAME}}

    - name: Build Docker image
      run: |
        docker build -t enessermaxhaj1992/my-app:latest .

    - name: Push Docker image
      run: |
        docker push enessermaxhaj1992/my-app:latest